@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto',Arial , sans-serif;
    letter-spacing: 0;
    background-color: #e9e9e9;
}

.fixed {
    position: relative;
    padding-bottom: 56px;
}

#headerBlock {
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 2.5px 0 rgba(0,0,0,.3);
}

#headerBlock article {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
}

#headerBlock article .leftHeader {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

#headerBlock article .rightHeader {
    flex-basis: 30%;
}

.logo {
    flex-basis: 11%;
}

.search {
    flex-basis: 89%;
}

.main_logo_block img {
    width: 75px;
}

.plus_logo_block span {
    font-size: 11px;
    font-style: italic;
}

.plus_logo img {
    width: 10px;
}

.logo a {
    display: block;
    text-decoration: none;
    line-height: 10px;
}

.plus {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}

.explore {
    color: #F0F0F0;
}

.plus_logo_block:hover {
    text-decoration: underline;
    color: #F0F0F0;
}

/* search css starts here */
.search input {
    width: 75%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #eee;
}

::placeholder {
    text-transform: capitalize;
    padding-left: 15px;
    font-weight: 500;
}

.search-icon-block {
    position: relative;
}

.fa-search {
    position: absolute;
    left: -31px;
    top: 3px;
    color: #2874f0;
    font-size: 17px;    
}
/* search css ends here */

/* right menu css starts here */

.rightHeader nav > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.rightHeader nav > ul > li > a {
    padding: 0px 15px 0px 35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.rightHeader nav ul li:nth-child(1) > a {
    background: white;
    color: #2874f0;
    padding: 5px 40px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
}

.rightHeader svg {
    transform: rotate(270deg);
    margin: 2px 4px;
}

/* dropdown menu css starts here */

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 4px 0px 0px -60px;
    width: 240px;
    z-index: 9999;
}

.dropdown a {
    text-decoration: none;
    color: #212121;
    display: block;
    font-size: 14px;
    width: 100%;
    margin-right: 10px;
}

.dropdownMenu {
    padding: 17px 20px;
    border-bottom: 1px solid #eee;
    background-color: white
}

.customer_links {
    display: flex;
}

.customer a {
    color: black;
    font-weight: bold;
}

.signup a {
    padding: 0px 0px 0px 40px;
    color: #2874f0;
    font-weight: bold;
}

.dropdownMenu a span i {
    color: #2874f0;
    font-size: 14px;
    margin-right: 12px;
}

.plus-icon img {
    width: 14px;
    margin-right: 12px;
    filter: invert(1);
    position: relative;
    top: 2px;
}

ul > li:hover ul {
    display: block;
}

.triangle {
    height: 0;
    width: 0;
    position: relative;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid white;
    margin: 0 auto;
}
/* main menu block css starts here */

#mainMenuBlock {
    background-color: #fff;
    height: 40px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #ccc;
    z-index: 10;
}

#mainMenuBlock article {
    width: 1200px;
    margin: 0 auto;
}

#MainMenu > ul {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

#MainMenu > ul > li {
    flex: 1 auto;
}

#MainMenu > ul > li > a {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
}

#MainMenu > ul > li > a:hover {
    color: #2874f0;
}

#MainMenu ul li a svg {
    margin-left: 6px;
    transform: rotate(270deg);
}

#MainMenu ul li a svg path {
    fill: #878787 !important;
    opacity: 0.5;
}

#mainMenuBlock ul li:hover svg {
    transform: rotate(90deg) !important;
}

#mainMenuBlock ul li:hover  path svg{
    fill: #2874f0 !important;
}
/* main menu block css ends here */

/* dropdown mega menu css starts here */

#MegaDropDownMenuBlock article {
    position: absolute;
    display: none;
    width: 1250px;
    height: 565px;
    box-shadow: 1px 1px 4px 1px #ccc;
    margin: 11px -45px;
    z-index: 99999;
}

#MegaDropDownMenuBlock article div {
    width: 20%;
    padding: 10px 20px;
}

.megaMenuDiv ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    line-height: 27px;
    list-style: none;
}

.megaMenuDiv ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #666;
    font-weight: 400;
}

#MegaDropDownMenuBlock div:nth-child(odd) {
    background: #fff;
}

#MegaDropDownMenuBlock div:nth-child(even) {
    background: #f9f9f9;
}

.strong {
    display: block;
    color:#212121 !important;
    padding: 5px 0px !important;
    font-weight: 900 !important;
}

.featured {
    display: block;
    color:#212121;
    font-size: 13px;
    padding: 5px 0px;
    font-weight: 900;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #c2c2c2;
    margin-left: 8px;
    margin-top: 10px;
}

#mainMenuBlock ul > li:hover #MegaDropDownMenuBlock article {
    display: flex;
}

#barsBlock {
    display: none;
}
/* dropdown mega menu css ends here */

/* dealsBlock css starts here */

#dealsBlock {
    margin: 10px;
    height: auto;
    background-color: #e9e9e9;
}

#dealsBlock article {
    display: flex;
}

.dealsLeftBlock {
    flex: 6;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.dealsRightBlock {
    flex: 1;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin: 0px 0px 0px 10px; 
    padding: 4px;
}

.realme_block {
    width: 230px;
    height: 100%;
}

.dealsHeader {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dealsHeader h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

.view_all_block a {
    text-decoration: none;
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
}

.timer-block {
    display: flex;
    position: relative;
    left: -350px;
    align-items: center;
}

.timer-img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.time {
    font-size: 16px;
    color: #7f7f7f;;
}

/* product-details css starts here */

.dealsFooter {
    position: relative;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.product-details {
    padding: 25px 15px;
    width: 195px;
    height: auto;
}

.product-details a {
    text-decoration: none;
    color: inherit;
}

.product-image {
    width: 165px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name {
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-offer {
    font-size: 14px;
    color: #388e3c;
    padding-top: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-desc {
    font-size: 14px;
    opacity: .6;
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.product-image img:hover {
    transform: scale(1.05);
    transition: ease-in-out all 0.1s;
}

/* product-details css ends here */
/* dealsBlock css ends here */

/* banner block css starts here */

#bannerBlock {
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.banner {
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.08);
    padding: 4px;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* banner block css ends here */

/* product block css starts here */
.product-block {
    padding: 0;
    margin: 10px;
    background-color: #fff;
}

.heading h2 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
}

.heading h3 {
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
}
/* product block css ends here */
 
/* footer block css starts here */
/* top stories block starts here */
#footerBlock {
    background-color: #fff;
    border-top: 1px solid #ddd;
    margin-top: 25px;
}

#topstoriesBlock {
    padding: 25px;
}

.top-stories-head {
    margin-top: 14px;
    padding: 14px 0;
}

.top-stories-head span {
    color: #848484;
    font-weight: 600;
    font-size: 14px;
}

.top-stories-head a {
    color: #565656;
    margin-left: 3px;
    font-size: 14px;
    text-decoration: none;
}

.top-stories {
    margin: 3px 0px;
    text-align: left;
}

.top-stories-heading {
    color: #848484;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
}

.top-stories-description {
    padding: 0px 5px 0px 0px;
    border-right: 1px solid #333;
    font-size: 12px;
    text-decoration: none;
    color: #565656;
    text-align: left;
}

.top-stories-description:last-child {
    border: none;    
}
/* top stories block ends here */

/* One-stop block starts here */
#one-stop-block {
    clear: both;
    line-height: 16px;
    font-size: 11px;
    padding: 25px;
    color: #878787;
    text-align: justify;
}

#one-stop-block h1 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #878787;
}

#one-stop-block h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #878787;
}
/* One-stop block ends here */

/* bottom block css starts here */
#bottomBlock {
    background-color: #172337;
    color: white;
}

.bottomHeader {
    padding: 40px 65px 0px 65px;
    display: flex;
    width: 100%;
    height: auto;
}

.leftBottomHeader {
    flex: 3;
    display: flex;
    width: 100%;
    height: auto;
}

.rightBottomHeader {
    flex: 2;
    display: flex;
    width: 100%;
    height: auto;
}

.leftBottomHeader div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottomHead {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.leftBottomHeader div a {
    font-size: 12px;
    line-height: 2;
    text-decoration: none;
    color: white;
}

.rightBottomHeader div {
    flex: 1;
}

.rightBottomHeader div p {
    font-size: 12px;
    line-height: 1.5;
}
.address {
    border-left: 1px solid #454d5e;
    padding: 0px 25px;
}

.tel {
    text-decoration: none;
    color: #2874f0;
}

.bottomFooter {
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottomFooter a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.bottomFooter p {
    color: white;
    font-size: 14px;
}
.bottomImg {
    margin-right: 8px;
}
/* bottom block css ends here */
/* footer block css ends here */